<name [node]="nodeRef" [eventHub]="eventHub"></name>
<div class="data-importer">
    <div class="upload">
        <label for="files" class="btn btn-secondary">
            Upload file<input type="file" id="files" class="" hidden="true" (change)="uploadedFile($event)">
        </label>
    </div>
    <div class="data">
        <h4>Data</h4>
        <ul class="data-list">
            <li *ngFor="let entry of data | keys">
                <span class="badge badge-pill badge-info">
                    <input type="text" [value]="entry.key" (input)="changeVarName($event.target.value, entry.key, $event)" [size]="entry.key.length">
                </span> {{ entry.value }}
            </li>
        </ul>
    </div>
</div>