$red-icon : #D52A29;
$orange-icon : #EA7130;
$yellow-icon : #E79627;
$green-icon : #6aab20;
$cyan-icon : #26a2c1;
$blue-icon : #497ce3;
$purple-icon : #7963e6;
$pink-icon : #f13c6f;
$sky-icon : #1e9cef;
$graphite-icon : #7a8387;