@font-face {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
}

@font-face {
  font-family: Mfizz;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Devicons;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/fonts/devicons.woff");
  font-weight: normal;
  font-style: normal;
}