@import './colors';

// Put an icon in front of a file/folder name
.tree-el:before {
  margin-right: 8px;
  font-size: 120%;
}

// Useful link : http://astronautweb.co/snippet/font-awesome/

.tree-el:not([title*="."]):before {
  font-family: FontAwesome;
  content: "\f07b";
  color: $cyan-icon;
}

.tree-el.open:before {
  font-family: FontAwesome;
  content: "\f115";
  color: $cyan-icon;
}

.tree-el[title$=".py"]:before {
  font-family: Devicons;
  content: "\e63c";
  color: $yellow-icon;
}

.tree-el[title$=".scala"]:before {
  font-family: Devicons;
  content: "\e637";
  color: $red-icon;
}

.tree-el[title$=".rb"]:before {
  font-family: Devicons;
  content: "\e63b";
  color: $red-icon;
}

.tree-el[title$=".xml"]:before {
  font-family: Devicons;
  content: "\e696";
  color: $pink-icon;
}

.tree-el[title$=".m"]:before, .tree-el[title$=".input"]:before, .tree-el[title$=".bib"]:before,
.tree-el[title$=".param"]:before, .tree-el[title$=".state"]:before, .tree-el[title$=".info"]:before,
.tree-el[title$=".mat"]:before, .tree-el[title$=".struct"]:before{
  font-family: Devicons;
  content: "\e605";
  color: $green-icon;
}

.tree-el[title$=".md"]:before {
  font-family: Devicons;
  content: "\e63e";
  color: $graphite-icon;
}

.tree-el[title$=".php"]:before {
  font-family: Devicons;
  content: "\e63d";
  color: $purple-icon;
}

.tree-el[title$=".js"]:before {
  font-family: Devicons;
  content: "\e681";
  color: $yellow-icon;
}

.tree-el[title$=".json"]:before {
  font-family: Devicons;
  content: "\e618";
  color: $green-icon;
}

.tree-el[title$=".code"]:before {
  font-family: Devicons;
  content: "\e6a3";
  color: $pink-icon;
}

.tree-el[title$=".html"]:before {
  font-family: Devicons;
  content: "\e64f";
  color: $orange-icon;
}

.tree-el[title$=".sass"]:before {
  font-family: Devicons;
  content: "\e64b";
  color: $pink-icon;
}

.tree-el[title$=".git"]:before {
  font-family: Devicons;
  content: "\e602";
  color: $orange-icon;
}

.tree-el[title$=".gitignore"]:before {
  font-family: Devicons;
  content: "\e602";
  color: $graphite-icon;
}

.tree-el[title$=".less"]:before {
  font-family: Devicons;
  content: "\e63e";
  color: $blue-icon;
}

.tree-el[title$=".css"]:before {
  font-family: Devicons;
  content: "\e64a";
  color: $green-icon;
}

.tree-el[title$=".swift"]:before {
  font-family: Devicons;
  content: "\e655";
  color: $orange-icon;
}

.tree-el[title$="Dockefile"]:before {
  font-family: Devicons;
  content: "\e6b0";
  color: $cyan-icon;
}

.tree-el[title$=".psd"]:before {
  font-family: Devicons;
  content: "\e6b8";
  color: $blue-icon;
}

.tree-el[title$=".pdf"]:before {
  font-family: FontAwesome;
  content: "\f1c1";
  color: $red-icon;
}

.tree-el[title$=".txt"]:before {
  font-family: FontAwesome;
  content: "\f15c";
  color: $red-icon;
}

.tree-el[title$=".output"]:before {
  font-family: FontAwesome;
  content: "\f061";
  color: $cyan-icon;
}

.tree-el[title$=".fig"]:before {
  font-family: FontAwesome;
  content: "\f1fe";
  color: $orange-icon;
}

.tree-el[title$=".tex"]:before {
  font-family: FontAwesome;
  content: "\f1c3";
  color: $blue-icon;
}

.tree-el[title$=".bat"]:before, .tree-el[title$=".sh"]:before {
  font-family: Devicons;
  content: "\e695";
  color: $purple-icon;
}

.tree-el[title$=".doc"]:before, .tree-el[title$=".docx"]:before {
  font-family: FontAwesome;
  content: "\f1c2";
  color: $blue-icon;
}

.tree-el[title$=".png"]:before, .tree-el[title$=".jpg"]:before, .tree-el[title$=".svg"]:before,
.tree-el[title$=".gif"]:before, .tree-el[title$=".raw"]:before, .tree-el[title$=".jpeg"]:before,
.tree-el[title$=".bmp"]:before{
  font-family: FontAwesome;
  content: "\f1c5";
  color: $orange-icon;
}

.tree-el[title$=".zip"]:before, .tree-el[title$=".tar.gz"]:before, .tree-el[title$=".iso"]:before,
.tree-el[title$=".rar"]:before, .tree-el[title$=".7z"]:before, .tree-el[title$=".7zip"]:before {
  font-family: FontAwesome;
  content: "\f1c6";
  color: $graphite-icon;
}