.loading-screen {
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px;

  background-color: #272838;

  & > .loading-animation {
    align-self: center;
    width: 300px;
    display: flex;

    & > .shapeContainer {
      display: flex;
      flex-direction: column;
      width: 60px;
      height: 120px;
      margin-right: 15px;
      margin-left: 15px;

      & > svg {

      }

      & > #firstShape {
        animation: bounce 1.5s infinite;
        animation-delay: 0.3s;
      }

      & > #secondShape {
        animation: bounce 1.5s infinite;
        animation-delay: 0.6s;
      }

      & > #thirdShape {
        animation: bounce 1.5s infinite;
        animation-delay: 0.9s;
      }
    }

    @keyframes bounce {
      0% {transform: translateY(0);}
      10% {transform: translateY(-18px);}
      14% {transform: translateY(-18px);}
      25% {transform: translateY(0px);}
      35% {transform: translateY(-12px);}
      39% {transform: translateY(-12px);}
      47% {transform: translateY(0px);}
      53% {transform: translateY(-6px);}
      57% {transform: translateY(-6px);}
      65% {transform: translateY(0px);}
    }


  }
}