<nav class="navbar navbar-light navbar-toggleable-md bg-faded">
    <h1 class="navbar-brand mb-0" href="#">{{ appData.workspace['name'] }}</h1>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <button type="button" class="btn btn-secondary my-2 my-sm-0" style="margin-right: 30px;" (click)="saveFlow()">Save flow</button>
        <button type="button" class="btn my-2 my-sm-0" [ngClass]="runButtonClass" style="margin-right: 30px;"
                (click)="runSimulation()">{{ runButtonLabel }}</button>
        <h3><span class="badge" [ngClass]="statusIndicatorClass">
        {{ statusIndicatorLabel }}</span></h3>
    </div>
</nav>