<nav class="navbar navbar-light navbar-toggleable-md bg-faded">
    <h1 class="navbar-brand mb-0" href="#">{{ workspaceData.workspace['name'] }}</h1>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="fileMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    File
                </a>
                <div class="dropdown-menu" aria-labelledby="fileMenuButton">
                    <a class="dropdown-item" (click)="fileController.showGraph()">Show graph</a>
                    <a class="dropdown-item" (click)="fileController.showComponentsList()">Show components list</a>
                    <a class="dropdown-item" (click)="fileController.showFileExplorer()">Show file explorer</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"
                       routerLink="/"
                       (click)="onClose()">
                        Close workspace
                    </a>
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-secondary my-2 my-sm-0" style="margin-right: 30px;" (click)="saveFlow()"
                *ngIf="workspaceData.workspace.connected">Save flow</button>
        <button type="button" class="btn my-2 my-sm-0" [ngClass]="runButtonClass" style="margin-right: 30px;"
                (click)="runSimulation()" *ngIf="workspaceData.workspace.connected">{{ runButtonLabel }}</button>
        <button type="button" class="btn my-2 my-sm-0 btn-outline-info" style="margin-right: 30px;"
                (click)="connectWS()" *ngIf="!workspaceData.workspace.connected">Connect</button>
        <h3><span class="badge" [ngClass]="statusIndicatorClass">
        {{ statusIndicatorLabel }}</span></h3>
    </div>
</nav>