@import './stylesheets/colors';
@import './stylesheets/joint';
@import 'app/components/workflow-component/workflow.component';
@import 'app/components/flow-nodes-list-component/flow-nodes-list.component';
@import './stylesheets/components';
@import './app/components/code-editor-component/code-editor.component';
@import './app/components/topbar-component/topbar.component';
@import './app/components/gl-component/gl.component';
@import './app/components/chart-component/chart.component';
@import './app/components/data-importer-component/data-importer.component';
@import './app/components/workspace-chooser-component/workspace-chooser.component';
@import './stylesheets/loading-screen';
@import './app/components/file-explorer-component/file-explorer.component';

* {
  font-family: Montserrat, Ubuntu, Roboto, Helvetica, "sans-serif";
}

body {
  margin: 0 !important;
  overflow-x : hidden;
}

.lm_content {
  background-color: white !important;
}

label {
  margin-bottom: 0 !important;
}
