@import './stylesheets/joint';
@import './app/components/flow-component/flow.component';
@import 'app/components/flow-nodes-list-component/flow-nodes-list.component';
@import './stylesheets/components';
@import './app/components/code-editor-component/code-editor.component';
@import './app/components/topbar-component/topbar.component';
@import './app/components/gl-component/gl.component';

* {
  font-family: Montserrat, Ubuntu, Roboto, Helvetica;
}

body {
  margin: 0px !important;
  overflow-x : hidden;
}

.lm_content {
  background-color: white !important;
}
